# GOOGLE_API_KEY=your-api-key

## Vertex AI 專案的 Google Cloud project ID
GOOGLE_CLOUD_PROJECT=gcp-project-name

## Vertex AI 的 Google Cloud 區域
GOOGLE_CLOUD_LOCATION=vertai-support-location

## 是否使用 Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=1